
  *{
    background-color: whitesmoke;
    padding:1px;
    margin: 1px;
    box-sizing: border-box;
    background-position: center;
}
nav {
    width: 960px;
    margin: 0 auto;
    background-color: yellow;
  }
  nav img {
    float: left;
    margin-top: 15px;
    margin-right: 30px;
    text-align: center;
  }
  nav li {
    float: left;
    margin-top: 40px;
    margin-right: 40px;
    text-align: center;
    display: inline-block;
    margin-top: 5%;
    justify-content: space-between;

  }

 



 .firstimg{
    margin-top: 100px;
    text-align: center;
}

.bar {
    margin-top: 10px;
    text-align: center;
    display: block;
    margin: auto;
    
}
.lastimg{

margin-left: 293px;
margin-top: 30px;
}

.container {

    display: flex;
    align-items: center;
}
.container > div {


    flex-basis: 50%;
}
.img-col
{
    
    margin-left: 293px;
    flex-basis: 40%;
}
.text-col{


margin-right: 370px;
margin-bottom: 80px;
}


button{

    background-color: black;
    color: white;
    margin-top: 30px;
    font-size: 20px;
    padding: 6px;
}
nav ul {

    text-align: center;
    position: relative;
    background-color: red;
    list-style: none;
}



footer{
    margin: auto;
    bottom:0;
    width:90%;
    height:100px;
    background-color: darkgray;
    margin-bottom: 20px;
}